ul {
  padding: 0;
  list-style: none;
}

.light-bar {
  display: flex;

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    width: 4rem;
    text-align: center;
  }
}

.background {
  margin: 0;
  background-image: url('http://wallpaperswa.com/thumbnails/detail/20140216/funny%20amusement%20park%20carousel%20merrygoround_wallpaperswa.com_44.jpg');
  background-size: cover;
  color: #fff;
}
