<ul class="light-bar">
  {{#each lights as |light position|}}
    <li class="light-bar__item">
      {{#if (eq activeLightPosition position)}}
        <div class="fa fa-star"></div>
      {{/if}}
      <span>{{light}}</span>
    </li>
  {{/each}}
</ul>

{{#if isSpinning}}
<button {{action stopSpinning}}>Stop Spinning</button>
{{else}}
<button {{action startSpinning}}>Start Spinning</button>
{{/if}}
